<h3 style=color:indigo>Create New Employee</h3>
<div align="right">
    <%= link_to "Back to HomePage", employees_path %>
    &nbsp &nbsp &nbsp
</div>
<br>
<div class = "container">
    <%= render "form", employee: @employee %>
</div>
<br>
